/health_files/
.idx/dev.nix
/.idea/codeStyles/codeStyleConfig.xml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/dictionaries/project.xml
